/* VARIABLES */
/* Coming Soon y Handlee son las google fonts geniales para este sitio */
/* Animaciones */
/* ESTILOS GENERALES */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body,
input,
select,
textarea {
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  line-height: 24px;
  color: #000;
}
h1,
h2,
h3,
nav {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
}
::selection {
  color: #fff;
  background-color: #951413;
}
body {
  background: url("../imagenes/fondo.jpg") 50% -194px repeat-x fixed #e53433;
  color: #fff;
}
/* ESTILOS PARTICULARES */
#sombra {
  box-shadow: 0 0 600px 60px #300 inset;
  padding: 50px 0;
}
header {
  text-align: center;
  height: 420px;
  max-width: 810px;
  margin: 0 auto;
  padding: 0px 40px;
  position: relative;
}
#contenidos article {
  background: url("../imagenes/separador.png") bottom center no-repeat;
  max-width: 810px;
  margin: 30px auto 0;
  padding: 0px 40px 90px;
}
#contenidos article#reserva_ {
  background-image: none;
  padding-bottom: 0px;
  text-shadow: none;
}
#contenidos article#reserva_ h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  text-shadow: 1px 1px rgba(0,0,0,0.7);
}
#contenidos article#reserva_ table {
  margin-bottom: 30px;
}
#contenidos h1,
#contenidos h2,
#contenidos h3,
#contenidos h4 {
  margin-bottom: 20px;
}
#contenidos h2 {
  font-size: 50px;
  line-height: 40px;
  font-weight: 400;
  text-shadow: -3px 3px 5px rgba(0,0,0,0.5);
}
#contenidos p,
#contenidos ul,
#contenidos ol,
#contenidos table {
  margin-bottom: 15px;
}
#contenidos ul,
#contenidos ol {
  margin-left: 30px;
}
#contenidos a {
  color: #fff;
}
nav {
  background: url("../imagenes/bg.png");
  box-shadow: 0 0 40px 5px rgba(50,0,0,0.4);
  width: 100%;
  position: absolute;
  top: 385px;
  left: 0;
  z-index: 100;
  padding: 20px 0;
  font-size: 25px;
  line-height: 20px;
}
nav.fixed {
  position: fixed;
  top: 0;
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline;
}
nav ul li a {
  color: #fff;
  padding: 10px 15px 5px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav ul li a:hover {
  border-color: #fff;
}
nav ul li.active a {
  border-color: #fff;
}
.float-right {
  float: right;
  padding-left: 20px;
  padding-top: 5px;
}
.float-left {
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}
.imagen img {
  display: block;
  border: 5px solid #fff;
  box-shadow: 0 0 20px #300;
}
#imgmapa {
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
  display: inline-block;
  margin: 0 0 0 auto;
  border: 5px solid #fff;
  box-shadow: 0 0 20px #300;
  background-color: #fff;
}
#imgmapa img {
  display: block;
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
}
#map_canvas {
  border: 5px solid #fff;
  box-shadow: 0 0 50px #300;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 640px;
}
.clear {
  clear: both;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table th {
  padding: 5px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 20px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
table td {
  border: 1px solid #600;
  padding: 20px 10px;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
table td.evento {
  background-color: #fff;
  color: #e53433;
}
table td strong {
  font-size: 14px;
  line-height: 14px;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  display: block;
}
#fecha {
  font-family: 'Pacifico', cursive;
  position: absolute;
  top: 210px;
  left: 320px;
  font-size: 23px;
  text-align: left;
  text-shadow: -5px 5px 5px rgba(0,0,0,0.5);
}
#fecha span {
  font-size: 60px;
  position: absolute;
  left: -38px;
  top: 15px;
}
#fecha strong {
  display: block;
  font-size: 16px;
}
#cita {
  display: none;
  font-family: 'Pacifico', cursive;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: left;
}
.info {
  font-size: 14px;
  line-height: 20px;
}
td {
  position: relative;
}
td small {
  font-size: 12px;
  font-family: helvetica, arial, sans-serif;
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 5px;
}
@media screen and (max-width:800px) {
  #contenidos article,
  header {
    max-width: auto;
  }
  .float-right,
  .float-left {
    float: none !important;
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 100%;
  }
  #map_canvas {
    width: auto;
    height: auto;
  }
  #map_canvas img {
    display: block;
  }
  header {
    height: auto;
  }
  nav {
    position: static !important;
  }
  nav ul li {
    display: block;
  }
  #sombra {
    box-shadow: none;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeout {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
@-ms-keyframes fadeout {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
